﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h4>What Information We Collect:</h4>

<p>We might collect your name, email, address, and phone number when you use our website. We also automatically gather info like your IP address and what pages you look at.</p>

<h4>How We Use Your Info:</h4>
<p>We use your info to run the website, reply to your messages, and make the site better. We might send you updates and offers, but you can say no if you want.</p>

<h4>Sharing Your Info:</h4>
<p>We don't give your info to others without asking you, except if we need to for legal reasons or if trusted partners help us run the website.</p>

<h4>Cookies and Tracking:</h4>
<p>We use cookies to see how you use our site. You can change your browser settings to manage cookies. </p>
 
<h4>Keeping Your Info Safe:</h4>
<p>
    We do our best to protect your info, but remember that nothing on the internet is completely secure.
</p>
<h4>Kids' Privacy:</h4>
<p>Our site isn't for kids under [insert minimum age here]. We don't knowingly collect their info without their parents' okay.</p>

<h4>Changes to This Policy:</h4>
<p>We might update this policy, and the date at the top will show when that happens. If you keep using the site, it means you're okay with the changes.</p>

<h4>Contact Us:</h4>
<p>If you have questions about this, you can reach us at Myles@GadgetIsLanding.com.</p>